datasets
torch
transformers
trl
deepspeed
# liger-kernel
peft
numpy
openai
tqdm
scipy
wandb

# Entity structure
torch_geometric
# rdkit
# For protein structure extraction
gemmi
biopython

# For data serialization
# pyarrow

# NLP metrics
nltk
rouge-score
bert-score


# Testing dependencies
pytest
# pytest-covq

